{% extends 'home.html' %}
{% load static %}
{% block content %}
<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    h2 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }

    p {
        font-size: 18px;
        color: #333;
        margin-bottom: 20px;
        text-align: justify;
    }

    .highlight {
        background-color: #f8f9fa;
        padding: 10px;
        border-radius: 5px;
    }
</style>

<div class="container mt-3">
    <h2 class="text-center">About Us</h2>
    <div class="highlight">
        <p>
            Chào mừng bạn đến với trang web quản lý giao hàng của chúng tôi! Trang web quản lý giao hàng của chúng tôi là một nền tảng mạnh mẽ và tiện lợi để quản lý quá trình giao hàng của bạn. Với công cụ này, bạn có thể dễ dàng kiểm soát và giám sát quá trình giao hàng từ đầu đến cuối, tạo ra trải nghiệm khách hàng tốt hơn và nâng cao hiệu quả hoạt động của doanh nghiệp.
        </p>
        <p>
            Trang web quản lý giao hàng của chúng tôi cung cấp các tiện ích sau:
        </p>
        <ol>
            <li>
                <strong>Quản lý đơn hàng:</strong> Trang web cho phép bạn tạo và quản lý các đơn hàng giao hàng của bạn. Bạn có thể thêm thông tin về đơn hàng, bao gồm thông tin khách hàng, địa chỉ giao hàng, sản phẩm/dịch vụ được giao, và các thông tin khác liên quan. Bạn cũng có thể cập nhật trạng thái đơn hàng, từ khi được đặt hàng cho đến khi được giao thành công.
            </li>
            <li>
                <strong>Theo dõi vận chuyển:</strong> Trang web cung cấp tính năng theo dõi vận chuyển để bạn có thể theo dõi vị trí và trạng thái của các đơn hàng. Thông qua tích hợp với các dịch vụ vận chuyển và hệ thống định vị, bạn có thể biết được thông tin về lộ trình vận
            </li>
            <li>
             <strong>Thông báo và cập nhật:</strong> Trang web sẽ thông báo cho bạn về các cập nhật quan trọng về đơn hàng, bao gồm thay đổi trạng thái, thời gian giao hàng, và thông tin khác liên quan. Bạn có thể nhận thông báo qua email, tin nhắn hoặc thông báo trực tuyến, giúp bạn luôn cập nhật với tình hình giao hàng.
            </li>
            <li>
              <strong>Báo cáo và thống kê:</strong>Trang web cung cấp các báo cáo và thống kê chi tiết về hoạt động giao hàng của bạn. Bạn có thể theo dõi số lượng đơn hàng, thời gian xử lý, hiệu suất vận chuyển và các chỉ số quan trọng khác để đánh giá và cải thiện quy trình giao hàng của mình.
            </li>
            <li>
              <strong>.Tương tác khách hàng:</strong> Trang web cho phép khách hàng theo dõi và quản lý các đơn hàng của họ. Họ có thể xem trạng thái đơn hàng, thời gian giao hàng dự
            </li>
       </ol>
       <li>
        Với giao diện trực quan và tính năng linh hoạt, trang web quản lý giao hàng giúp bạn tăng cường quản lý và giám sát toàn bộ quá trình giao hàng của mình. Hãy khám phá và tận dụng sức mạnh của nền tảng này để cung cấp dịch vụ giao hàng tốt nhất cho khách hàng của bạn và đạt được thành công trong kinh doanh.
      </li>
    </div>
    <br><br>
{% endblock %}