{% extends 'customer.html' %}
{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
    </div>
    <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
            <li class="d-grid"><a href="{% url 'profile' %}" class="btn"> Trang Cá Nhân</a></li>
            <li class="d-grid"><a href="{% url 'address' %}" class="btn btn-primary">Địa chỉ</a></li>
        </ul>
    </div>
    <div class="col-sm-9 offset-sm-1">
        <div class="row">
            {% for ad in add %}
            <div class="col-sm-6">
                <div class="cart m-2">
                    <div class="card-body">
                        <h3>Địa Chỉ {{forloop.counter}}</h3>
                        <p> Name: {{ad.name}}</p>
                        <p> Email: {{ad.email}}</p>
                        <p> Địa Chỉ: {{ad.address}}</p>
                        <p> Thành Phố: {{ad.city}}</p>
                        <p> Quận Hoặc Xã: {{ad.state}}</p>
                        <p> Số Điện Thoại: {{ad.phone}}</p>
                        <p class="text-center">
                        <a href="{% url 'updateaddress' pk=ad.id %}" type="button" class="btn btn-primary">Update</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>

{% endblock %}