{% extends 'home.html' %}
{% load static %}
{% block content %}
<style>
  .image-container {
      position: relative;
      width: 100%;
      max-height: 650px; /* Điều chỉnh chiều cao tùy ý */
      overflow: hidden;
  }

  .full-width-image {
      width: 100%;
      height: auto;
      display: block;
  }

  .content-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.6); /* Điều chỉnh màu nền tùy ý */
      padding: 20px;
      color: #fff; /* Điều chỉnh màu chữ tùy ý */
      text-align: center; /* Canh giữa nội dung ngang */
  }

  .content-text {
      text-align: center; /* Canh giữa nội dung ngang */
  }

  .welcome-text {
      font-size: 36px; /* Điều chỉnh kích thước chữ tùy ý */
      font-weight: bold; /* Điều chỉnh độ đậm tùy ý */
      text-transform: uppercase; /* Điều chỉnh kiểu chữ in hoa tùy ý */
      letter-spacing: 2px; /* Điều chỉnh khoảng cách giữa các ký tự tùy ý */
      margin-bottom: 20px; /* Điều chỉnh khoảng cách dưới chữ tùy ý */
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Điều chỉnh hiệu ứng bóng chữ tùy ý */
  }

  .service-text {
      font-size: 24px; /* Điều chỉnh kích thước chữ tùy ý */
      margin-top: 20px; /* Điều chỉnh khoảng cách trên chữ tùy ý */
  }
</style>

<div class="image-container">
  <img src="{% static 'app/images/banner/br2.jpg' %}" class="full-width-image">
  <div class="content-overlay">
    <div class="content-text">
      <h1 class="welcome-text">Welcome to Food Delivery</h1>
    </div>
  </div>
</div>

{% endblock %}
