{% extends 'home.html' %}
{% load static %}

{% block content %}
<style>
    .card-title {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        color: #333;
        margin-bottom: 30px;
    }

    .card-body {
        padding: 20px;
    }

    h4 {
        font-size: 24px;
        color: #555;
        text-align: center;
        margin-bottom: 15px;
    }

    p {
        font-size: 18px;
        color: #777;
        margin-bottom: 15px;
    }

    .highlight {
        background-color: #f8f9fa;
        padding: 10px;
        border-radius: 5px;
    }
</style>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Contact Us</h2>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <h4 class="mb-3 highlight">Address</h4>
                            <p class="text-center">Đại Học Công Nghiệp Thành Phố Hồ Chí Minh</p>
                        </div>
                        <div class="col-12">
                            <h4 class="mb-3 highlight">Hotline</h4>
                            <p class="text-center">0385721588</p>
                        </div>
                        <div class="col-12">
                            <h4 class="mb-3 highlight">Email</h4>
                            <p class="text-center">quoctoan040501@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
