{% extends 'customer.html' %}
{% load static %}

{% block content %}

{% include 'status.html' %}
<div class="row">

    <div class="col-md-5">
        <div class="card card-body">
            <div class="col">
                <div class="col-md-6">
                    <h5>CUSTOMER:</h5>
                    <hr>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-sm btn-block" href="">Information Customer</a>
                </div>
            </div>
            {% for cus in customer %}
            <table class="table table-sm">
                <tr>
                    <th>Customer</th>
                    <td>{{ cus.name }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ cus.phone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ cus.email }}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{ cus.city }}</td>
                </tr>
                <tr>
                    <th>State</th>
                    <td>{{ cus.state }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ cus.address }}</td>
                </tr>
            </table>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-sm btn-block" href="/address">Update</a>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="col-md-7">
        <h5>LAST 5 ORDERS</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Information Order</a>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Date Order</th>
                        <th>Total Cost</th>
                        <th>Status</th>
                        <th>Remove</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        {% if not order.status == 'Cancel' %}
                    <tr>
                        <td>{{ order.product }}</td>
                        <td>{{ order.ordered_date }}</td>
                        <td>{{ order.total_cost }}</td>
                        <td>{{ order.status }}</td>
                        <td><a href="/cancel-order/{{ order.id }}" class="btn btn-sm btn-danger">Hủy</a></td>
                       
                    </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if messages %}
    <div class="alert alert-dismissible alert-info">
        {% for message in messages %}
            <p class="mb-0">{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
</div>

{% endblock %}