{% extends 'merchants.html' %}
{% load static %}

{% block content %}

{% include 'statusmer.html' %}
<div class="row">

    <div class="col-md-5">
        <div class="card card-body">
            <div class="col">
                <div class="col-md-6">
                    <h5>Merchants</h5>
                    <hr>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-sm btn-block" href="">Information Merchants</a>
                </div>
            </div>
            {% for cus in merchant %}
            <table class="table table-sm">
                <tr>
                    <th>Merchants</th>
                    <td>{{ cus.name }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ cus.phone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ cus.email }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ cus.address_rd}}</td>
                </tr>
            </table>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-sm btn-block" href="/merchantsaddress">Update</a>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="col-md-7">
        <h5>LAST 5 ORDERS</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Information Order</a>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Date Order</th>
                        <th>Total Cost</th>
                        <th>Status</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.product }}</td>
                        <td>{{ order.ordered_date }}</td>
                        <td>{{ order.total_cost }}</td>
                        <td>{{ order.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if messages %}
    <div class="alert alert-dismissible alert-info">
        {% for message in messages %}
            <p class="mb-0">{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
</div>

{% endblock %}