{% extends 'rider.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            {% for order in orders %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Khách hàng: {{ order.customer }}</h5>
                            <p class="card-text">Địa chỉ giao hàng: {{ order.customer.address }}</p>
                            <p class="card-text">Số điện thoại: {{ order.customer.phone }}</p>
                            <p class="card-text">Trạng thái: {{ order.status }}</p>
                            <div class="d-grid gap-2">
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success">Nhận</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
