{% extends 'customer.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row my-3">
            <h3>Xác Nhận Mật Khẩu</h3> <hr>
            <form action="" method="post" novalid   ate class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.error|striptags}}</small>
                    <br>
                {% endfor %}
                
                <input type="submit" class="btn btn-primary mt-4" value="Submit"><br>
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                  <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}