{% extends 'customer.html' %}
{% load static %}
{% block content %}
    <div class="container my-5">
        <div class="row">
            <h3>Chúc Mừng <span class="text-capitalize">{{request.user}}</span></h3>
        </div>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'customer' %}" class="btn btn-primary">Back Order</a></li>
            </ul>
            <div class="col-sm-9 offset-sm-1">
                <h3>Thành Công !!</h3>
                <div>
                 <img src="https://media.giphy.com/media/ibolLe3mOqHE3PQTtk/giphy.gif" width="200" height="200"/>
                </div>
             </div>
        </div>
    </div>

{% endblock %}