{% extends 'merchants.html' %}
{% load static %}
{% block pm %}
<h3 style="font-size: 24px; color: #333; text-align: center; font-weight: bold; margin-bottom: 20px;">Your Product</h3>
<div class="row" style="width: 100%;">
    {% for product in products %}
    <div class="col-lg-3">
        <div class="card mb-4">
            <img class="card-img-top" src="{{ product.ImageURL }}" alt="Product Image" width="300" height="300">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.price | floatformat:3 }} VNĐ</p>
                <a href="{% url 'delete_product' product.id %}" class="btn btn-danger btn-sm">Remove</a>
                <a href="{% url 'update_price' product.id %}" class="btn btn-success btn-sm">Update Price</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br /><br /><br />
{% endblock %}
