{% extends 'customer.html' %}
{% load static %}
{% block content %}
<div class="row" style="width: 100%;">
    {%for product in products %}
    <div class="col-lg-3">
        <img class="thumbnail" src="{{ product.ImageURL }} ">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <form action="/add-to-cart" class="d-inline">
              <input type="hidden" name="prod_id" value={{product.id}}>
              <button type="submit" class="btn btn-outline-success">➕</button>
            </form>
            <a class="btn btn-outline-success" href="{% url 'showcart' %}">Buy Now</a>
            <h3 style="display: inline-block;"><strong>{{product.price | floatformat:3}} VNĐ</strong></h3>
        </div>
    </div>
    {% endfor %}
</div>
<br /><br /><br />
{% endblock %}
