<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" style="background-color: cyan;">
                <div class="card-header">
                    <h5 class="card-title">Total Order</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_order}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" style="background-color: cornflowerblue">
                <div class="card-header">
                    <h5 class="card-title">Order Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{dilivery}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" style="background-color: palevioletred">
                <div class="card-header">
                    <h5 class="card-title">Order Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{pending}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>